body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,
      #7e1b2b 0%,
      #1E3765 100%);
  color: #fff;
}

header {
  /* text-align: center;
  background: #1E3765;
  color: #fff;
  padding: 2rem 1rem; */
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
  background: transparent;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1rem;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background: #333;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.project {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  background: #444;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.slideshow-container {
  width: 200px;
  height: 180px;
  position: relative;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  display: block;
}

.project-img-static {
  width: 200px;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.project-info {
  flex: 1;
  min-width: 200px;
}

.project-info h3 {
  margin-top: 0;
}

.project-info a {
  color: #6EC1E4;
  text-decoration: underline;
}

.hover-image-trigger {
  position: relative;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline dashed;
}

/* colors for different stuff, add as needed */
.color-cmu {
  color: #C41230;
}

.color-hirn {
  color: #c514aa;
}

.color-uoft {
  color: #6FC7EA;
}

.hover-image {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%) scale(0.95);
  width: 200px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  border-radius: 12px;
  pointer-events: none;
  z-index: 100;
}

.hover-image-trigger:hover .hover-image {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}


footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #ccc;
}